.trending-page {
  display: grid;
  max-width: 1200px;
  overflow: hidden;
  margin: 100px auto 50px;
  position: relative;

  @media screen and(max-width: 990px) {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 0;
    margin: 80px 0 10px 0;
  }

  @media screen and(max-width: 590px) {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 0;
    margin: 80px 0 10px 0;
  }

  .main {
    display: grid;
  }

  .right-side {
    position: relative;
    width: 100%;
  
    .right-side-container {
      width: 100%;
  
      @media screen and(min-width: 1200px) {
        width: 100%;
      }
  
    }
  }
} 